@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Sono&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  position: --webkit-sticky;
  position: sticky;
  z-index: 9999;

}

header, img {
  border-radius: 8px;
  margin: 10px;
}

header, h1, h2 {
  justify-content: space-around;
  padding: 10px;
  margin: 10px;
  border: 10px;
  font-family: 'Satisfy', 'Sono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ADC698;
}

nav button {
  background: transparent;
  border: none;
  margin: 0 10px;
  font-family: 'Sono', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about {
  background-color: #503047;
  color: #fff;
  margin: 0 10px;
}

.contact {
  background-color: #D0E3C4;
}